.u-section-1 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 317px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-1 .u-group-2 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-1 .u-group-3 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 15px;
}

.u-section-1 .u-group-4 {
  background-image: none;
  min-height: 317px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 15px;
}

.u-section-1 .u-group-5 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 15px;
}

.u-section-1 .u-group-6 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 15px;
}

.u-section-1 .u-group-7 {
  background-image: none;
  min-height: 317px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 31px auto 0;
  color: white;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 15px;
}

.u-section-1 .u-group-8 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  color: white;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 15px;
}

.u-section-1 .u-group-9 {
  width: 350px;
  background-image: none;
  min-height: 317px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  width: 165px;
  height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  color: white;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-group-2 {
    width: 283px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-group-3 {
    width: 283px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-1 .u-group-5 {
    width: 283px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-1 .u-group-6 {
    width: 283px;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 330px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 330px;
  }

  .u-section-1 .u-group-8 {
    width: 283px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 330px;
  }

  .u-section-1 .u-group-9 {
    width: 283px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-group-5 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-group-6 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-group-8 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-group-9 {
    width: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
